<app-header [currentUser]="currentUser"></app-header>

<ion-content fullscreen="false">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="5" class="ion-padding-horizontal">
        <h1><strong>Nouvelle absence</strong></h1>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="5">
        <ion-card color="light">
          <ion-card-content>
            <form [formGroup]="leaveCreationForm">
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <ion-datetime
                      *ngIf="isStartDateEnabled"
                      presentation="date"
                      first-day-of-week="1"
                      formControlName="startDate"
                      [multiple]="false"
                      [isDateEnabled]="isStartDateEnabled"
                      [disabled]="creating"
                    >
                      <span slot="title">Du</span></ion-datetime
                    >
                  </ion-col>

                  <ion-col
                    size="12"
                    class="ion-padding-horizontal"
                    *ngIf="leaveCreationForm.get('startDate')?.value"
                  >
                    <ion-item color="none" lines="none">
                      <ion-select
                        cancel-text="Annuler"
                        interface="action-sheet"
                        placeholder="À partir de quand ?"
                        formControlName="startDateDayPart"
                        [disabled]="creating"
                      >
                        <ion-select-option
                          *ngFor="let dayPart of startDayParts"
                          [value]="dayPart?.value"
                          >{{ dayPart?.label }}</ion-select-option
                        >
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row
                  *ngIf="leaveCreationForm.get('startDate')?.value && leaveCreationForm.get('startDateDayPart')?.value"
                >
                  <ion-col size="12">
                    <ion-datetime
                      presentation="date"
                      first-day-of-week="1"
                      formControlName="endDate"
                      [min]="leaveCreationForm.get('startDate')?.value"
                      [multiple]="false"
                      [isDateEnabled]="isStartDateEnabled"
                      [disabled]="creating"
                    >
                      <span slot="title">Au</span></ion-datetime
                    >
                  </ion-col>

                  <ion-col
                    size="12"
                    class="ion-padding-horizontal"
                    *ngIf="leaveCreationForm.get('endDate')?.value"
                  >
                    <ion-item color="none" lines="none">
                      <ion-select
                        cancel-text="Annuler"
                        interface="action-sheet"
                        placeholder="Jusqu'à quand ?"
                        formControlName="endDateDayPart"
                        [disabled]="creating"
                      >
                        <ion-select-option
                          *ngFor="let dayPart of endDayParts"
                          [value]="dayPart?.value"
                          >{{ dayPart?.label }}</ion-select-option
                        >
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row class="ion-margin-top">
                  <ion-col size="12" size-md="auto">
                    <ion-button
                      expand="block"
                      color="none"
                      [disabled]="creating"
                      [routerLink]="['/home']"
                    >
                      Annuler
                    </ion-button>
                  </ion-col>
                  <ion-col size="" class="ion-hide-md-down"></ion-col>
                  <ion-col
                    size="12"
                    size-md="auto"
                    *ngIf="leaveCreationForm.valid"
                  >
                    <ion-button
                      expand="block"
                      (click)="createLeave()"
                      [disabled]="creating"
                    >
                      <ion-spinner
                        *ngIf="creating"
                        slot="start"
                        name="crescent"
                        class="ion-margin-end"
                      ></ion-spinner>

                      Créer l'absence
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
