<ion-header>
  <ion-toolbar>
    <ion-item
      slot="start"
      color="none"
      lines="none"
      detail="false"
      [routerLink]="['/home']"
    >
      <ion-label><strong> Zen Leave </strong></ion-label>
    </ion-item>

    <ng-container *ngIf="currentUser !== null">
      <ion-item
        slot="end"
        color="none"
        lines="none"
        detail="false"
        [routerLink]="['/my-profile']"
      >
        <ion-label slot="end" class="ion-hide-md-down">
          {{ userName }}
        </ion-label>
        <ion-icon name="person-outline" slot="end"></ion-icon>
      </ion-item>

      <ion-icon
        name="log-out-outline"
        slot="end"
        size="large"
        color="danger"
        (click)="logout()"
      ></ion-icon>
    </ng-container>
  </ion-toolbar>
</ion-header>
