<app-header [currentUser]="currentUser"></app-header>

<ion-content fullscreen="false">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="5" class="ion-padding-horizontal">
        <h1><strong>Accueil</strong></h1>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="5">
        <ion-row>
          <ion-col size="12">
            <ion-button
              size="large"
              expand="block"
              [routerLink]="['/leave-creation']"
            >
              Ajouter une absence
            </ion-button>
          </ion-col>

          <ion-col size="12">
            <ion-button size="large" expand="block">
              Voir mes absences
            </ion-button>
          </ion-col>

          <ion-col size="12">
            <ion-button size="large" expand="block" color="tertiary">
              Voir toutes les absences
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
