<app-header [currentUser]="currentUser"></app-header>

<ion-content fullscreen="false">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="5" class="ion-padding-horizontal">
        <h1><strong>Accueil</strong></h1>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="5">
        <ion-row>
          <ion-col size="12" *ngIf="currentUser?.role !== 'SUPER_ADMIN'">
            <ion-button
              size="large"
              expand="block"
              [disabled]="currentUser?.team === null"
              [routerLink]="['/leave-creation']"
            >
              Ajouter une absence
            </ion-button>
          </ion-col>

          <ion-col size="12" *ngIf="currentUser?.role !== 'SUPER_ADMIN'">
            <ion-button
              size="large"
              expand="block"
              [disabled]="currentUser?.team === null"
              [routerLink]="['/my-leaves']"
            >
              Voir mes absences
            </ion-button>
          </ion-col>

          <ion-col
            size="12"
            *ngIf="currentUser?.role !== 'USER' && currentUser?.role !== 'SUPER_ADMIN'"
          >
            <ion-button
              size="large"
              expand="block"
              color="tertiary"
              [disabled]="currentUser?.team === null"
              [routerLink]="['/my-team-leaves']"
            >
              Voir les absences de mon équipe
            </ion-button>
          </ion-col>

          <ion-col size="12" *ngIf="currentUser?.role === 'SUPER_ADMIN'">
            <ion-button
              size="large"
              expand="block"
              color="tertiary"
              [routerLink]="['/all-leaves']"
            >
              Voir toutes les absences
            </ion-button>
          </ion-col>

          <ion-col
            size="12"
            class="ion-text-center"
            *ngIf="currentUser?.team === null && currentUser?.role !== 'SUPER_ADMIN'"
          >
            <ion-note color="warning">
              Pensez a renseigner votre équipe sur votre profil
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
